{{ partial "header.html" . }}
<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
<article>
    <header>
        <small>
            <ul>
                {{ if not .PublishDate.IsZero }}
                    <li>
                        Published: {{ partial "year.html" .PublishDate }}
                    </li>
                {{ else if not .Date.IsZero }}
                    <li>
                        Published: {{ partial "year.html" .Date }}
                    </li>
                {{ end }}
                {{ if and (not .Lastmod.IsZero) (not (eq .Lastmod .Date)) }}
                    <li>
                        Updated: {{ partial "year.html" .Lastmod }}
                    </li>
                {{ end }}
                {{ if and .Params.tags }}
                    <li>
                        Tagged: {{ partial "tags.html" .Params.tags }}
                    </li>
                {{ end }}
            </ul>
        </small>
    </header>
    {{ .Content }}
</article>
<section>
    <h1>Comments</h1>
    <p>
        This site doesn't host its own comments.  However feedback through external sites is very much welcome.
    </p>
    <ul>
        <li>
            <a
                {{ replace (querify "u" .Permalink "t" .Title) "+" "%20" | printf "https://news.ycombinator.com/submitlink?%s" | printf "href=%q" | safeHTMLAttr }}
                target="_blank"
            >Submit</a> to and
            <a
                {{ replace (querify "query" .Permalink "storyText" "false" "type" "story") "+" "%20" | printf "https://hn.algolia.com/?%s" | printf "href=%q" | safeHTMLAttr }}
                target="_blank"
            >discuss</a> on <a href="https://news.ycombinator.com/" target="_blank">Hacker News</a>.
        </li>
        <li>
            <a
                {{ replace (querify "url" .Permalink "title" .Title) "+" "%20" | printf "https://lobste.rs/stories/new?%s" | printf "href=%q" | safeHTMLAttr }}
                target="_blank"
            >Submit</a> to and
            <a
                {{ replace (querify "q" .Permalink "what" "stories") "+" "%20" | printf "https://lobste.rs/search?%s" | printf "href=%q" | safeHTMLAttr }}
                target="_blank"
            >discuss</a> on <a href="https://lobste.rs/" target="_blank">Lobsters</a>.
        </li>
        <li>
            <a
                {{ replace (querify "url" .Permalink "title" .Title) "+" "%20" | printf "https://reddit.com/submit?%s" | printf "href=%q" | safeHTMLAttr }}
                target="_blank"
            >Submit</a> to and
            <a
                {{ replace (querify "q" (printf "site:%s url:%s" (.Site.BaseURL | replaceRE "https?://([^/]+).*" "$1") .Permalink) | printf "https://www.reddit.com/search?%s") "+" "%20" | printf "href=%q" | safeHTMLAttr }}
                target="_blank"
            >discuss</a> on <a href="https://www.reddit.com/" target="_blank">reddit</a>.
        </li>
    </ul>
</section>
{{ partial "footer.html" . }}
