{{ partial "header.html" . }}
<h1>{{ .Title }} (<a href="{{ if .RSSlink }}{{ .RSSlink }}{{ else }}{{ .Site.BaseURL }}/index.xml{{ end }}" rel="alternate" type="application/rss+xml"/>RSS</a>)</h1>
{{ partial "search.html" . }}
{{ partial "pages-ul.html" .Data.Pages }}
{{ partial "footer.html" . }}
