{{ partial "header.html" . }}
<h1>{{ .Title }}</h1>
{{ partial "search.html" . }}
{{ $data := .Data }}
{{ range .Data.Terms.Alphabetical }}
    <h2><a href="{{ printf "/%s/%s/" $data.Plural (.Name | urlize) | relLangURL }}">{{ .Name }}</a> ({{ .Count }})</h2>
    {{ partial "pages-ul.html" .Pages }}
{{ end }}
{{ partial "footer.html" . }}
