        </main>
        <footer id="site-footer">
            <p>
                &copy; 2015&#x2012;{{ .Now.Format "2006" }} <a
                    {{ printf "href=%q" .Site.Author.email | safeHTMLAttr }}
                    rel="author"
                >{{ .Site.Author.name }}</a>. <a
                    href="https://creativecommons.org/licenses/by/4.0/"
                    rel="license"
                    target="_blank"
                    title="Creative Commons &mdash; Attribution 4.0 International &mdash; CC BY 4.0"
                >Some rights reserved</a> unless specified otherwise.
            </p>
        </footer>
        <!--
            <script
                src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
                type="text/javascript"
            ></script>
        -->
    </body>
</html>
