<!DOCTYPE html>
<html lang="{{ .Params.language | default .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8"/>
        <base href="{{ .Site.BaseURL }}"/>
        <link href="{{ if .RSSlink }}{{ .RSSlink }}{{ else }}{{ .Site.BaseURL }}/index.xml{{ end }}" rel="alternate" title="{{ if .IsNode }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}" type="application/rss+xml"/>
        {{ if .Permalink }}
            <link href="{{ .Permalink }}" rel="canonical" title="{{ .Title | default .Site.Title }}" type="text/html"/>
        {{ end }}
        <link href="/style.css" rel="stylesheet" type="text/css"/>
        {{ if .Params.tags }}
            <meta name="keywords" content="{{ delimit (sort .Params.tags) ", " }}"/>
        {{ end }}
        <title>{{ .Title | default .Site.Title }}</title>
    </head>
    <body>
        <header id="site-header">
            <nav>
                <ul class="inline">
                    {{ range .Site.Menus.main }}
                        <li><a href="{{ .URL | safeURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </header>
        <main>
