<ul>
    {{ range . }}
        <li>
            {{ if not .Date.IsZero }}
                {{ partial "year.html" .Date }}
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ if .Params.tags }}
                tagged
                {{ partial "tags.html" .Params.tags }}
            {{ end }}
        </li>
    {{ end }}
</ul>
