{{ range . }}
    <section>
        <header>
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <small>
                <ul>
                    {{ if not .PublishDate.IsZero }}
                        <li>
                            Published: {{ partial "year.html" .PublishDate }}
                        </li>
                    {{ else if not .Date.IsZero }}
                        <li>
                            Published: {{ partial "year.html" .Date }}
                        </li>
                    {{ end }}
                    {{ if and (not .Lastmod.IsZero) (not (eq .Lastmod .Date)) }}
                        <li>
                            Updated: {{ partial "year.html" .Lastmod }}
                        </li>
                    {{ end }}
                    {{ if .Params.tags }}
                        <li>
                            Tagged: {{ partial "tags.html" .Params.tags }}
                        </li>
                    {{ end }}
                </ul>
            </small>
        </header>
        {{ if .Summary }}
            <p>
                {{ .Summary }}
            </p>
        {{ end }}
        <footer>
            <p>
                <a href="{{ .Permalink }}" title="{{ .Title }}">Continue reading…</a>
            </p>
        </footer>
    </section>
{{ end }}
