<iframe
    frameborder="0"
    src="https://duckduckgo.com/search.html?kp=-1&k1=-1&site={{ .Site.BaseURL }}&prefill=Search {{ .Site.BaseURL | replaceRE "^https?://" "" | replaceRE "/$" "" }}"
    style="overflow:hidden;margin:0;padding:0;width:100%;height:40px;"
></iframe>
<!--
<form action="https://www.google.com/search" method="GET">
    <input type="hidden" name="as_sitesearch" value="{{ .Site.BaseURL | replaceRE "https?://" "" }}"/>
    <input type="text" name="as_q" placeholder="Search {{ .Site.BaseURL | replaceRE "^https?://" "" | replaceRE "/$" "" }}"/>
</form>
<form action="https://startpage.com/do/search" method="GET">
    <input type="hidden" name="with_domain" value="{{ .Site.BaseURL | replaceRE "https?://" "" }}"/>
    <input type="text" name="all_terms" placeholder="Search {{ .Site.BaseURL | replaceRE "^https?://" "" | replaceRE "/$" "" }}"/>
</form>
<form action="https://search.yahoo.com/search" method="GET">
    <input type="hidden" name="vs" value="{{ .Site.BaseURL | replaceRE "https?://" "" }}"/>
    <input type="text" name="p" placeholder="Search {{ .Site.BaseURL | replaceRE "^https?://" "" | replaceRE "/$" "" }}"/>
</form>
-->
