{{ partial "header.html" . }}
<h1>Home</h1>
<section>
    <h1>Welcome</h1>
    <p></p>
</section>
<section>
    <h1>Recent Blog Posts (<a href="{{ if .RSSlink }}{{ .RSSlink }}{{ else }}{{ .Site.BaseURL }}/index.xml{{ end }}" rel="alternate" type="application/rss+xml"/>RSS</a>)</h1>
    {{ partial "pages-summaries.html" (first 4 .Data.Pages.ByDate.Reverse) }}
</section>
<section>
    <h1>Tag Cloud</h1>
    {{ partial "tag-cloud.html" . }}
</section>
<section>
    <h1>All Blog Posts</h1>
    <p>
        Browse <a href="/blog/">all blog posts</a> by <a href="/tags/">tag</a> or <a href="/year/">year</a>.
    </p>
    {{ partial "search.html" . }}
</section>
{{ partial "footer.html" . }}
