body {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}

#site-header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
}

dl.inline, ul.inline, ol.inline {
    padding: 0;
}
dl.inline > dd, dl.inline > dt, ul.inline > li, ol.inline > li {
    display: inline;
}

@media screen {
    body > main {
        margin-left: auto;
        margin-right: auto;
        max-width: 40em;
    }
}

#site-footer {
    border-top-style: solid;
    border-top-width: 1px;
    text-align: center;
}
