{{ partial "header.html" . }}
<h1>Blog Posts (<a href="{{ if .RSSlink }}{{ .RSSlink }}{{ else }}{{ .Site.BaseURL }}/index.xml{{ end }}" rel="alternate" type="application/rss+xml"/>RSS</a>)</h1>
<h2>Search</h2>
{{ partial "search.html" . }}
<h2>Tag Cloud</h2>
{{ partial "tag-cloud.html" . }}
<h2>Archive</h2>
{{ range .Data.Pages.GroupByDate "2006" }}
    <h3><a href="{{ printf "/year/%s/" (.Key | urlize) | relLangURL }}">{{ .Key }}</a></h3>
    {{ partial "pages-ul.html" .Pages }}
{{ end }}
{{ partial "footer.html" . }}
